/* CSS Reset */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body {
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  ol,
  ul {
    list-style: none;
  }

  input {
    background: transparent;
    border: none;
  }

  :not([class]) {
    h1&,
    h2&,
    h3&,
    h4&,
    h5&,
    h6& {
      margin-block: 0.2em;
      line-height: 1.25;
      text-wrap: balance;
      letter-spacing: -0.05ch;
    }

    p&,
    ol&,
    ul& {
      margin-block: 0em;
    }

    ol&,
    ul& {
      padding-inline-start: 1.5em;
      list-style: revert;
    }

    li& {
      margin-block: 0.5em;
    }
  }
}

body {
  background: linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.2),
        rgba(18, 18, 18, 0.2)
      )
      content-box,
    radial-gradient(at 89% 15%, hsla(213, 99%, 52%, 0.1) 0px, transparent 50%),
    radial-gradient(at 3% 14%, hsla(213, 75%, 26%, 0.4) 0px, transparent 50%),
    radial-gradient(at 90% 92%, hsla(213, 99%, 52%, 0.15) 0px, transparent 50%),
    radial-gradient(at 32% 54%, hsla(213, 75%, 26%, 0.15) 0px, transparent 50%),
    radial-gradient(at 20% 11%, hsla(213, 99%, 52%, 0.15) 0px, transparent 50%),
    radial-gradient(at 34% 94%, hsla(213, 99%, 52%, 0.15) 0px, transparent 50%),
    radial-gradient(at 55% 8%, hsla(159, 100%, 43%, 0.1) 0px, transparent 50%),
    radial-gradient(at 77% 63%, hsla(213, 99%, 52%, 0.15) 0px, transparent 50%),
    radial-gradient(at 47% 7%, hsla(213, 99%, 52%, 0.15) 0px, transparent 50%),
    radial-gradient(at 80% 48%, hsla(159, 100%, 43%, 0.1) 0px, transparent 50%)
      padding-box,
    linear-gradient(black, black) padding-box,
    linear-gradient(to left, #4e00f8, #00e094) border-box;

  height: 100dvh;
  width: 100dvw;
}

.wrapper {
  padding: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 20px;
  gap: 20px;
}

.book {
  max-width: 450px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-size: 20px;
  color: #f2f2f2;
  gap: var(--spacing-lg, 4px);
  padding: var(--spacing-lg, 20px);
  line-height: 1.2;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(4px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.book.readed-card {
  background-color: rgba(46, 204, 196, 0.2);
}

.delete-book {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  transform: scaleX(1.3);
}

/* Tooggle style */
.toggle-container {
  position: relative;
  cursor: pointer;
  width: 48px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  input:checked + .toggle-slider {
    background-color: #2ecc71;
  }

  input:checked + .toggle-slider::before {
    transform: translateX(26px);
  }

  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 34px;
    transition: 0.3s;
  }

  .toggle-slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    transition: transform 0.3s;
  }
}

.toggle-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/* Tooggle style */

/* glassmorphic button */
button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  color: #f2f2f2;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(4px) saturate(100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

dialog[open] {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  color: #f2f2f2;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(4px) saturate(100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* place at the center */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    input {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.1);
      color: #f2f2f2;
    }
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

dialog {
  animation: open 0.3s;
}

/* dialog animation */
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  color: #f2f2f2;
}

option {
  background: #353535;
  color: #f2f2f2;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  color: #f2f2f2;
}

input:focus,
input:active,
input:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

.toggle-wrapper.card {
  margin: 20px auto 10px 0;
  position: relative;
}
